
/* -------------- GENERAL ------------------------------------------------ */

body{
    margin: 0px;
}

div.marco{
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    top: 0%;
    width: 100%;
    height: 100vh;
    border: 3px solid orange; 
     
}

/* -------------- INDEX -------------------------------------------------- */

h1.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 75;
    margin-top: 5%;
    margin-bottom:10%;
    text-align: center;
}


p{
    text-align: center;
}

div.boton {    
    background-color: aquamarine;
    align-items:center;
    width: 100%;
    height: 7%;
    margin: 2% 30% ;
}

.botonJugar  {
    background-color:royalblue;
    padding: 50px 100px;
    margin: 5% 30% !important;
    display: block !important;
    border-radius: 10px;
    text-align: center;
    color: aqua;
    text-decoration:double;
    font-size: 50px;
    
    
}

div.parrafo{
    text-align: center;
    margin: 0%;

}

p.frase{
    margin: 10% 30%;
    font-size: 60px;

}

h2.boton{
    text-align: center;
    height: auto;

}


/* -------------- INICIAR --------------------------------------------------- */

h1.tituloPequeño{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45;
    margin: auto;
    margin-bottom: 10%;
    margin-top: 10%;
    text-align: center;
}
/* -------------- QUIZ --------------------------------------------------- */

h1.pregunta{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 75px;
    text-align:center;
}

a.respuesta{
    background-color: blueviolet;
    padding: 20px 50px;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    color: aqua;
    text-decoration: none;
    display: block;
    font-size: 30px;
    
}


div.prueba{
    flex-flow: column wrap;
    align-items:center;
    /*background-color: aquamarine; */
    border: 2px;
    width: 50%;
    height: 70%;
    margin: auto;
}

a.boton  {
    background-color: blueviolet;
    padding: 20px 50px;
    text-align: center;
    color: aqua;
    text-decoration: none;
}

/* -------------- PUNTAJE --------------------------------------------------- */

div.inferior{

    height: 30%;
    flex-flow: column wrap;
    border: 3px solid cornflowerblue; 

}


a.botonInferiorD{
    
    position: absolute;
    top: 80%;
    left: 10%;
    background-color: blueviolet;
    padding: 20px 50px;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    color: aqua;
    text-decoration: none;
    display: inline;
    font-size: 25px;


}

a.botonInferiorI{
    
    position: absolute;
    top: 80%;
    right: 10%;
    background-color: blueviolet;
    padding: 20px 50px;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    color: aqua;
    text-decoration: none;
    display: inline;
    font-size: 25px;


}



