<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a ChaqueñaMente</title>

    <!-- Favicon -->

    <!-- Fonts -->

    <!-- Fonts Awesome  -->

    <!-- Boostrap -->

    <!-- Libreries Stylesheat -->


    <!-- Customize CSS Stylesheat -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" 

</head>
<body>
    <div class="marco">
        <h1 class="pregunta">Como se llamaba?</h1>
        <div class="prueba">
            <a class="respuesta"  href="#">Jose de San Martin</a>

            <a class="respuesta"  href="#">Manuel Belgrano</a>

            <a class="respuesta"  href="#">Cristina</a>

            <a class="respuesta"  href="#">Macron</a>
        
        </div>
         


    </div>


<!-- Java Scrip Libreries -->
<!--  <script src="{% static 'js/main.js'%}"></script>  -->
    
</body>
</html>