{% extends 'base2.html' %}

{% block contenido %}
    <div class="marco" >
        <h1 class="titulo">ChaqueñaMente</h1>
        <!-- <a class="boton"  href="#">Jugar</a>  -->
        
        <a  href="quiz/login"   class="botonJugar" > 
                Iniciar Sesion
                <!--<h2 class="boton">Jugar</h2>-->
        
        
        </a>
        <a  href="quiz/registro" class="botonJugar" > 
            Registrarse
            <!--<h2 class="boton">Jugar</h2>-->
    
    
        </a>
        
        

    </div>
   
{% endblock %}